<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IT 340</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Génie logiciel</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Livrables</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container" ng-app="atelierControllers">

            <div class="row" ng-controller="apiCtrl">
                <div class="col-sm-6">
                    <div class="panel panel-{{left.class}}" ng-repeat="left in lefties">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{left.method}}<strong class="pull-right">{{left.link}}</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="well">
                                <p>{{left.description}}</p>
                            </div>
                            <p>Request</p>
                           <code class="language-js" data-lang="js">
                                {{left.data}}
                            </code>
                            <p>Response</p>
                           <code class="language-js" data-lang="js">
                                {{left.return}}
                            </code>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-{{right.class}}" ng-repeat="right in righties">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{right.method}}<strong class="pull-right">{{right.link}}</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="well">
                                <p>{{right.description}}</p>
                            </div>
                            <p>Request</p>
                           <code class="language-js" data-lang="js">
                                {{right.data}}
                            </code>
                            <p>Response</p>
                           <code class="language-js" data-lang="js">
                                {{right.return}}
                            </code>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        <!-- jQuery Version 1.11.0 -->
        <script src="js/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

    </body>

    </html>
